{% extends "lazysusan/base.html" %}{% load lstags %}
{% block head %}
<script type="text/javascript" src="{{ LS_STATIC }}js/form-ctrl.js"></script>

<!-- Form Media -->
{{ form.media }}

{% endblock %}
{% block content %}
<div class="container" id="FormCtrl" ng-controller="FormCtrl">
  <div class="row">
    <div class="col-md-8 col-xs-12 form_view">
      <h1>{{ title }}</h1>
      <hr>
      <form role="form" method="POST" action="./">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {% if field.field.is_structured %}
        <fieldset>
          <legend>{{ field.field.plural }}:</legend>
          {% with formset=form.formsets|get_dict_value:field.field.prefix %}
          {{ formset.management_form }}
          {% for fsetform in formset %}
          {{ fsetform.id }}
          {% for fsetfield in fsetform.visible_fields %}
          {% include "lazysusan/form.field.html" with field=fsetfield %}
          {% endfor %}
          {% for hidden in fsetform.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          <hr>
          {% endfor %}
          {% endwith %}
        </fieldset>
        {% else %}
        {% include "lazysusan/form.field.html" %}
        {% endif %}
        {% endfor %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">{{ action }}</button>
        <a href="../" class="btn btn-default">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
