{% extends "lazysusan/base.html" %}{% load url from future %}{% load lstags %}
{% block title %}{{ view.name_plural }}{% endblock %}
{% block breadcrumbs %}
<li>
  <a href="../"><span>{{ view.app.1.name }}</span></a>
</li>
<li class="active">
  <a href=""><span>{{ view.name_plural }}</span></a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid list">
  {% with filters=1 %}
  {% include "lazysusan/pagination.html" %}
  {% endwith %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        {% for name in view|list_field_names:request %}
        <th>{{ name|safe }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in paginator.current_list %}
      <tr>
        {% for field in view|list_fields:request %}
        <td>
          {% if forloop.first %}<a href="./{{ row|get_key|urlencode }}/">{% endif %}
          {{ row|get_attr:field }}
          {% if forloop.first %}</a>{% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "lazysusan/pagination.html" %}
</div>
{% endblock %}