<div class="pagination pagination-small">
  <ul>
    {% if paginator.has_previous %}<li><a href="?{{ paginator.previous_qs }}">&laquo; Prev</a></li>{% endif %}
    <li class="active"><a href="">Page {{ paginator.number }}</a></li>
    {% if paginator.has_next %}<li><a href="?{{ paginator.next_qs }}">Next &raquo;</a></li>{% endif %}
  </ul>
  <ul class="total">
    <li class="active"><a href="">Total Results: {{ results.count }}</a></li>
  </ul>
  {% if filters %}{% include "lazysusan/list_filters.html" %}{% endif %}
</div>